.box {
  min-height: 300px;
  border: 2px solid grey;
  min-width: 75vw;
  margin: 10px 0;
  overflow: scroll;
  max-height: 75vh
}
.box tpl:nth-child(odd){
  background: lightcoral;
}
.button {
  background: crimson;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 25px;
  border: 3px solid gray;
}

.inputText {
  padding: 10px 25px;
  border: 3px solid crimson;
  font-size: 14px;
}